<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
　          <% if item.medium_image.present? %>
              <%= image_tag(item.medium_image.gsub('?_ex=128x128', '') , alt: item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.title) %>
            <% end %>
        </div>
      </div>
      <div class="title">
        <%= item.title %>
      </div>
      <%= render 'items/action' , item: item if logged_in? %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">
          These
          <%= item.have_users.count if @title == "have" %>
          <%= item.want_users.count if @title == "want" %> 
          users <%= @title %> this item</h4>
        <div class="side-box-body">
          <%= render 'users/overview' , users: item.have_users if @title == "have" %>
          <%= render 'users/overview' , users: item.want_users if @title == "want" %>
        </div>
      </div>